@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 375px;
  color: #ffffff;
  background-color: #141B27;
  font-family: Pretendard;
}

nav {
    overflow: hidden;
}

nav > div {
    text-align: center;
    float: left;
    width: 25%;
}

.btn {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 105px;
  top: 0px;
}
